    <!---------------------------------- Footer --------------------------------------------->
    <section id="foot">
      <div class="footer">
        <img src="/images/swag.jpg" alt="swag-logo" style="height: 100px; width: 100px; margin: 30px 40px 40px 670px">
        
          <p> Copyright © Rishi Jain</p>
          <p>Connect with me on: </p>
          <div id="socials">
            <p><a href="https://twitter.com/Jain_1Rishi"><i class="fa-brands fa-twitter" style="color: #005af5;"></i></a></p>
            <p><a href="https://github.com/jainrishi2001"><i class="fa-brands fa-github"></i></a></p>
            <p><a href="https://www.instagram.com/__.rishi.jain.__/"><i class="fa-brands fa-instagram"></i></a></p>
          </div>
         
      </div>
  </section>

  <!-- Bootstrap -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
  </body>
  </html>
