    <!---------------------------------- Footer --------------------------------------------->
    <section id="foot">
      <div class="footer">
        <img src="/images/swag.jpg" alt="swag-logo" style="height: 100px; width: 100px; margin: 30px 40px 40px 670px">
        
          <p> Copyright © Rishi Jain</p>
          <p>Connect with me on: </p>
          <div id="socials">
            <p><a href="https://twitter.com/Jain_1Rishi"><i class="fa-brands fa-twitter" style="color: #005af5;"></i></a></p>
            <p><a href="https://github.com/jainrishi2001"><i class="fa-brands fa-github"></i></a></p>
            <p><a href="https://www.instagram.com/__.rishi.jain.__/"><i class="fa-brands fa-instagram"></i></a></p>
          </div>
         
      </div>
  </section>
    
  </body>
  </html>
