<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Swags</title>
  <link rel="icon" href="/images/favicon.ico">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/carousel.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/infinite-slider.css" type="text/css">

 <!-- Google Fonts -> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Dancing+Script:wght@700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0ee23bd8a8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-------------------------- Nav-Bar or Header ---------------------------------------->
    <section>
      <nav class="navbar navbar-default navigation">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand" style="color: white; font-size: 30px; padding-top: 35px;"><i class="fa-solid fa-shirt" style="color: #cacad8;"></i> SWAGS COLLECTION</p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <!-- 6 -->
              <li id="home"><a href="/" style="color: white; font-size: 20px; padding-top: 35px;">HOME</a></li>
              <li id="about"><a href="/" style="color: white; font-size: 20px; padding-top: 35px;">ABOUT US</a></li>
              <li id="contact"><a href="/" style="color: white; font-size: 20px; padding-top: 35px;">CONTACT US</a></li>
            </ul>
        </div>
      </nav>
    </section>
   
