<%- include('partials/header'); -%>

<!-- ----------------------------------Body of content------------------------ -->
<section id="intro-row">
    <div class="intro-head">
      <h2 class="inside-heading">See my collection</h2>
      
      <p class="head-content"><img id="heading-img" src="/images/sammy.jpg" alt="Random merch" >
         Want to see all the merch that I collected in my college life?</p>
      <button type="button" class="btn btn-danger btn-lg">Explore All</button>
    </div>
    <!-- <h2>What is this website</h2>
    <p> I wanted to build a project which was my own creation so thought of this idea and started working on this to learn and practice my skills.</p>
    <h3>What will you find in this website?</h3>
    <p> While exploring my website you can see all the merch that I have ever received, whether it be T-shirts, hoodies, stickers, pins etc. You will find it all here.</p> -->
      
  </section>  
  
  
  <div style="background-color: #F8E8EE;">
    <h4 class="inside-heading products" id="brandshave">Brands I Have</h4>
  <div class="container-s" style="margin-top: 50px; height: 300px;">
    <section class="customer-logos slider" style="position: relative; margin-top: 100px;">
      <div class="slide"><a href="https://codingblocks.com/"><img src="/images/cb.png"></a></div>
      <div class="slide"><a href="https://kotlinlang.org/"><img src="/images/kotlin.png"></a></div>
      <div class="slide"><a href="https://reskilll.com/"><img src="/images/reskill.png"></a></div>
      <div class="slide"><a href="https://aws.amazon.com/"><img src="/images/aws.png"></a></div>
      <div class="slide"><a href="https://nhost.io/"><img src="/images/nhost.png"></a></div>
      <div class="slide"><a href="https://www.digitalocean.com/"><img src="/images/do.png" style="filter:brightness(1.2)"></a></div>
      <div class="slide"><a href="https://www.reclaimprotocol.org/"><img src="/images/reclaim.png"></a></div>
      <div class="slide"><a href="https://cloud.google.com/"><img src="/images/gcp.png"></a></div>
      <div class="slide"><a href="https://flow.com/"><img src="/images/flow.png"></a></div>
      <div class="slide"><a href="https://www.hackerearth.com/"><img src="/images/hackerearth.png" style="filter:brightness(1.6)"></a></div>
      <div class="slide"><a href="https://www.postman.com/"><img src="/images/postman.png"></a></div>
      <div class="slide"><a href="https://www.binance.com/en-IN/bnb"><img src="/images/bnb.png"></a></div>
    </section>
    </div>
  </div>
  
   
  
    
  
        
  <!---------------------- All the Sample cards on Display ----------------------------------->
   <section id = "all-cards">
    <h4 class="inside-heading products">Products</h4>
    <div class="container-i">
      <div class="box">
          <div class="imgBox">
              <img src="/images/merch.png" alt="random">
          </div>
          <div class="content">
              <h2>Postman Student Leader Hoodie</br>
              <span>Received in the Leader Kit in June of 2022</span></h2>
          </div>
      </div>
      <div class="box">
        <div class="imgBox">
            <img src="/images/merch.png" alt="Merch">
        </div>
        <div class="content">
            <h2>Nhost T-shirt</br>
            <span>Awesome Blue coloured tshirt</span></h2>
        </div>
    </div>
    <div class="box">
      <div class="imgBox">
          <img src="/images/merch.png" alt="Random merch">
      </div>
      <div class="content">
          <h2>Digital Ocean Kubernetes T-shirt</br>
          <span>A royal blue T-shirt with Sammy</span></h2>
      </div>
    </div>
      </div>
    <p class="more"><a href="/">Show All Swags!</a></p>
    
  
   </section>

<%- include('partials/footer'); -%>