<%- include('partials/header'); -%>

<section style="background-color: #F8E8EE;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5 products" ><strong>Swags</strong></h4>
  
      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
           <a href="/allswags/wagmi"><div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light "
              data-mdb-ripple-color="light" style="background-color: black;">
              <img src="/images/allswags/wagmif.png"
                class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
            </div>
            <div class="card-body" style="background-color: #39375B;">
              <a href="/allswags/wagmi" class="text-reset" style="text-decoration: none;">
                <h5 class="card-title mb-3" style="color: white;"  >WAGMI Threeway Studio</h5>
              </a>
                <p style="color: whitesmoke;">T-Shirt</p>
            </div>
          </div></a> 
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/flow-india"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/flowb.png"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;"   />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/flow-india" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Flow Blockchain India</h5>
                  </a>
    
                    <p style="color: whitesmoke;">T-Shirt</p>
    
                </div>
              </div></a>
            
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/hacktoberfest-2022"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/hacktober2022b.jpeg" 
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/hacktoberfest-2022" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >HacktoberFest 2022</h5>
                  </a>
                  <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/hackerearth"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/hackerearthf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/hackerearth" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Hackerearth </h5>
                  </a>
    
                    <p style="color: whitesmoke;">T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/foxmula"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: white;">
                  <img src="/images/allswags/foxmulaf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/foxmula" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Foxmula</h5>
                  </a>
    
                    <p style="color: whitesmoke;">T-Shirt</p>
    
                </div>
              </div></a>
         
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/digital-ocean"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/digitaloceanf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/digital-ocean" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Digital Ocean Kubernetes</h5>
                  </a>
                    <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/kotlin">
                <div class="card">

                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/kotlinf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/kotlin" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;"  >Kotlin Night</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/acm-muj">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: white;">
                      <img src="/images/allswags/acmf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/acm-muj" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >MUJ ACM Member</h5>
                      </a>
        
                        <p style="color: whitesmoke;">T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/reclaim-protocol">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/reclaimf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/reclaim-protocol" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Reclaim Protocol Bitcoin Whitepaper</h5>
                      </a>
                      <p> style="color: whitesmoke;"T-Shirt</p>
                    </div>
                  </div>
            </a>
         
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/postman-student-leader">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/studentleaderf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/postman-student-leader" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;"  >Postman Student Leader</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/reply-challenges">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: white;">
                      <img src="/images/allswags/replyb.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/reply-challenges" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Reply Challenges</h5>
                      </a>
        
                        <p style="color: whitesmoke;">T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/google-cloud">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/gcpf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/google-cloud" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >30 Days of Google Cloud</h5>
                      </a>
                      <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/bnb-chain">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/bnbb.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/bnb-chain" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;"  >BNB Chain</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
         
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/postman-api-101">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: white;">
                      <img src="/images/allswags/api101f.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/postman-api-101" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Postman API 101</h5>
                      </a>
        
                        <p style="color: whitesmoke;">T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/reskilll-white">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/reskilllwhitef.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/reskilll-white" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Reskilll x AWS UG Jaipur (White)</h5>
                      </a>
                      <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/reskilll-black">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/reskilllblackf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/reskilll-black" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;"  >Reskilll x AWS UG Jaipur (Black)</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/coding-blocks">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: white;">
                      <img src="/images/allswags/cbf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/coding-blocks" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Coding Blocks OCD</h5>
                      </a>
        
                        <p style="color: whitesmoke;">T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/threeway-studio">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/threewayf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/threeway-studio" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Threeway Studio</h5>
                      </a>
                      <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/aivinya"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/aivinyab.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/aivinya" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;"  >Aivinya AI</h5>
                  </a>
                    <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
         
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/exa-protocol"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/exaf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/exa-protocol" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Exa Protocol</h5>
                  </a>
    
                    <p style="color: whitesmoke;">T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/postman-student-leader-hoodie"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/postman.png"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/postman-student-leader-hoodie" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Postman Student Leader Hoodie</h5>
                  </a>
                  <p style="color: whitesmoke;">Hoodie</p>
                </div>
              </div></a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/nhost"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/nhostf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/nhost" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;"  >Nhost</h5>
                  </a>
                    <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/hacktoberfest-2021"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/hacktober2021f.jpeg"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/hacktoberfest-2021" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >HacktoberFest 2021</h5>
                  </a>
    
                    <p style="color: whitesmoke;">T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/amazon">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/amazonf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/amazon" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Amazon</h5>
                      </a>
                      <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/sofi">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/sofif.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;"/>
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/sofi" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;"  >SOFI</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/gdsc">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light" style="background-color: whitesmoke;">
                      <img src="/images/allswags/gdscf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/gdsc" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >GDSC MUJ Team</h5>
                      </a>
                        <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/postman-logo">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                      <img src="/images/allswags/postmanf.PNG"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body" style="background-color: #39375B;">
                      <a href="/allswags/postman-logo" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" style="color: white;" >Postman Logo Blue</h5>
                      </a>
                      <p style="color: whitesmoke;">T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/allswags/jpmc-cfg"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="/images/allswags/jpmcf.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/jpmc-cfg" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;"  >JPMC Code for &lt;Good&gt;2023</h5>
                  </a>
                    <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
        </div>


  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/allswags/oneplus"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light" style="background-color: white;">
                  <img src="/images/reclaim.PNG"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/allswags/oneplus" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >OnePlus India</h5>
                  </a>
                    <p style="color: whitesmoke;">Sweatshirt</p>
                </div>
              </div></a>
         
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light" style="background-color: black;">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body" style="background-color: #39375B;">
                  <a href="/" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" style="color: white;" >Product name</h5>
                  </a>
                  <p style="color: whitesmoke;">T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>

      
    </div>
    
  </section>




<%- include('partials/footer'); -%>

