<%- include('partials/header'); -%>

<section style="background-color: #F8E8EE;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5 products" ><strong>Swags</strong></h4>
  
      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
           <a href="/allswags/jpmc-cfg"><div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="/images/allswags/jpmcf.png"
                class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
            </div>
            <div class="card-body">
              <a href="" class="text-reset" style="text-decoration: none;">
                <h5 class="card-title mb-3" >Product name</h5>
              </a>
                <p>T-Shirt</p>
            </div>
          </div></a> 
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="/images/gcp.png"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;"   />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
            
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <p>T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(23).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(17).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
         
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(30).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                    <p>T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/">
                <div class="card">

                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" >Product name</h5>
                      </a>
                        <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
        
                        <p>T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
         
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" >Product name</h5>
                      </a>
                        <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
        
                        <p>T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" >Product name</h5>
                      </a>
                        <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
         
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
        
                        <p>T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" >Product name</h5>
                      </a>
                        <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
        
                        <p>T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" >Product name</h5>
                  </a>
                    <p>T-Shirt</p>
                </div>
              </div></a>
         
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <p>T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" >Product name</h5>
                  </a>
                    <p>T-Shirt</p>
                </div>
              </div></a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;"/>
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3" >Product name</h5>
                      </a>
                        <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>




  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                      data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset"  style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
        
                        <p>T-Shirt</p>
        
                    </div>
                  </div>
            </a>
          
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/">
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                        class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                    </div>
                    <div class="card-body">
                      <a href="" class="text-reset" style="text-decoration: none;">
                        <h5 class="card-title mb-3">Product name</h5>
                      </a>
                      <p>T-Shirt</p>
                    </div>
                  </div>
            </a>
          
        </div>
      </div>

      <div class="row">

        <!-- Individual Cards -->
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/belt.webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3" >Product name</h5>
                  </a>
                    <p>T-Shirt</p>
                </div>
              </div></a>
        </div>


  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"> <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset"  style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
    
                    <p>T-Shirt</p>
    
                </div>
              </div></a>
         
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
            <a href="/"><div class="card">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).webp"
                    class="w-100" style="height: 410px; border-bottom: solid 1px black;" />
                </div>
                <div class="card-body">
                  <a href="" class="text-reset" style="text-decoration: none;">
                    <h5 class="card-title mb-3">Product name</h5>
                  </a>
                  <p>T-Shirt</p>
                </div>
              </div></a>
          
        </div>
      </div>

      
    </div>
    
  </section>




<%- include('partials/footer'); -%>

