body {
  background-color: #F8E8EE;
}

.navbar {
    margin-bottom: 10;
    background-color: #39375B;
    height: 100px;
}

/* #title {
  display: flex;
  align-content: center;
  width: 100%;
  background-color: #176b87;
  text-align: left;
  font-family: "Montserrat", sans-serif;
} */

a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
}

.intro-head {
    background-color: #745C97;
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
    color: #fff;
}

#all-cards {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-heading {
    font-size: 3em;
    font-family: 'Merriweather', serif;
}

.products {
    font-size: 4em;
    text-align: left;
    margin: 0;
    padding-left: 55px;
    padding-top: 20px;
    font-family:'Dancing Script', cursive;
}

.head-content {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

#heading-img {
    float:right;
    position: absolute;
    padding-bottom: 100px;
    margin-top: 0;
    margin-left: 919px;
    height : 300px;
    width: 320px;
    /* padding-bottom:50px;
    margin-bottom: 0px;
    margin-right: 190px;
    border-radius: 20px; */
    
}

.front {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 50px;
    padding-top: 40px;
}

.card-img-top {
    height: 300px;
    border-bottom: solid 2px;
    background-color:#AEE2FF;
    border-radius: 20px;   
}

.more {
    padding-top: 80px;
    font-size: 25px;
    text-align: center;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid.products {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.container-fluid .box {
  position: relative;
  width: 25rem;
  height: 34rem;
  margin: 1rem;
  background-color: #37E2D5;

}

.container-fluid .box:hover .imgBox {
  transform: translate(-3.5rem, -3.5rem);
}

.container-fluid .box:hover .content {
  transform: translate(3.5rem, 3.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
  background-color: #F2C9E1;
  font-family: 'Quicksand', sans-serif;
  line-height: 10px;
}

.content h2 {
  display: block;
  font-size: 2rem;
  color: #39375B;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #39375B;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
.container-fluid .box:hover .content {
    transform: translate(0, 3.5rem);
  }
.container-fluid .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}

.container-fluid .footer {
    /* background-image: linear-gradient(to right, black , grey); */
    height: 200px;
    border-top:solid 2px brown;
    background-color: #39375B;
    margin-bottom: 0;
   
}
.container-fluid.footers {
  padding-left: 0;
  padding-right: 0;
  border-right: solid 30px #39375B;
  border-left: solid 5px #39375B;
}

#copy {
  color: whitesmoke;
  font-size: 16px;
}

#brandshave {
  position: relative;
  margin-top: 70px;
  font-family:'Dancing Script', cursive;
  font-size: 4em;
}
